# Files
oe_license.txt
File Search Benchmark.png

# Directories
mbuild_polymers/
packmol_solva/
averaged_polymers/
.ipynb_checkpoints/

# PyCache
__pycache__
*/__pycache__

# JSONs
monomer_generation/json_files/*